[Unit]
Description=Kombi O.S. Network Service
After=network.target

[Service]
Type=simple
User=kombios
Group=kombios
WorkingDirectory=/usr/local/bin

# Variáveis de ambiente via arquivo .env
EnvironmentFile=/etc/kombios.env

ExecStart=/opt/kombios/venv/bin/python /usr/local/bin/kombios/kombios-network-service.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
#Opcional: limitar recursos
#MemoryMax=200M
#CPUQuota=50%

[Install]
WantedBy=multi-user.target
