[Unit]
Description=Kombi O.S. GPS Sync Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=kombios
Group=kombios
WorkingDirectory=/usr/local/bin

# Variáveis de ambiente via arquivo .env
EnvironmentFile=/etc/kombios.env

# Usa o Python do venv (não precisa “ativar” o venv)
ExecStart=/opt/kombios/venv/bin/python /usr/local/bin/kombios/kombios-gps-sync-service.py

# Logs no journal
StandardOutput=journal
StandardError=journal

# Robustez
Restart=on-failure
RestartSec=5
#TimeoutStartSec=30

# (Opcional) Endurecer um pouco o serviço
#NoNewPrivileges=yes
#ProtectSystem=full
#ProtectHome=true
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
